/* From Uiverse.io by kennyotsu */ 
:root {
    --copper: #ab6400;
    --dblue: #132154;
  }
.card {
    /* color used to softly clip top and bottom of the .words container */
    padding: 1rem 1rem;
    border-radius: 1.25rem;
  }
  .loader {
    font-weight: 500;
    font-size: 40px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 70px;
    padding: 5px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  
  .words {
    overflow: hidden;
    position: relative;
    font-size: 32px;

  }
  .words::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 20;
  }
  
  .word {
    display: block;
    padding-left: 7px;
    color: var(--dblue);
    animation: spin_4991 9s infinite;
  }
  
  @keyframes spin_4991 {
    10% {
        -webkit-transform: translateY(-102%);
        transform: translateY(-102%);
      }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-202%);
      transform: translateY(-202%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-302%);
      transform: translateY(-302%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-402%);
      transform: translateY(-402%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }
  